html, body {
    margin-right: 0;
    margin-left: 5mm;
    margin-top: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 297mm;
    width: 210mm;
    overflow: visible;
}

.leaflet-container {
    border: none;
    width: 174.7mm;
    height: 96.3mm;
    position: absolute;
    left: 38.9mm;
    top: 164.2mm;
    background-color: white;
}

#botaoimprimir {
    left: 10.1mm;
    top: -0.1mm;
    background-color: white;
    height: 20px;
    width: 771px;
}

#imgsvg {
    width: 206.4mm;
}

#tabela {
    position: absolute;
    left: 38.7mm;
    top: 28.55mm;
    background-color: none;
}

#data {
    position: absolute;
    left: 21mm;
    top: 24.45mm;
    background-color: none;
    font-size: 3mm;
}

#endereco {
    position: absolute;
    left: 20.9mm;
    top: 18.85mm;
    background-color: none;
    font-size: 3mm;
    height: 25px;
    width: 113.6mm;
}

#inscrimob {
    position: absolute;
    left: 49mm;
    top: 12.85mm;
    background-color: none;
    font-size: 3mm;
}

#aviso {
    position: absolute;
    left: 42.7mm;
    top: 191.45mm;
    background-color: #000000;
    font-size: 8.5mm;
    font-style: italic;
    color: #FFFFFF;
    z-index: 900;
}

.aviso {
    position: absolute;
    background-color: none;
    font-size: 4mm;
    font-weight: bold;
}

.obs {
    position: absolute;
    background-color: none;
    font-size: 4mm;
    font-weight: bold;
}

#pautavias {
    left: 53.1mm;
    top: 142.55mm;
    font-size: 9px;
    font-weight: normal;
    height: 51px;
    width: 602px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#reaeroporto {
    left: 88.2mm;
    top: 284.05mm;
}

#redeptransito {
    left: 12mm;
    top: 296.45mm;
}

#reambiental {
    left: 12mm;
    top: 284.05mm;
}

#repatrimoniohistorico {
    left: 88.2mm;
    top: 291.8mm;
}

#rerodovias {
    left: 88.2mm;
    top: 287.85mm;
}

table {
    border-collapse: collapse;
    width: 175.6mm;
}

tr {
    display: block;
    float: left;
}

th, td {
    display: block;
}

@media print {
    @page {
        size: 210mm 297mm;
        margin: 0mm;
    }
}
