html, body {
    margin-right: 0;
    margin-left: 5mm;
    margin-top: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 297mm;
    width: 210mm;
    overflow: visible;
}

.leaflet-container {
    border: none;
    width: 174.7mm;
    height: 96.3mm;
    position: absolute;
    left: 38.9mm;
    top: 153mm;
    background-color: white;
}

#botaoimprimir {
    left: 10.1mm;
    top: -0.1mm;
    background-color: white;
    height: 20px;
    width: 771px;
}

#imgsvg {
    width: 206.4mm;
}

#tabela {
    position: absolute;
    left: 38.7mm;
    top: 28.55mm;
    background-color: none;
}

#data {
    position: absolute;
    left: 21mm;
    top: 24.45mm;
    background-color: none;
    font-size: 3mm;
}

#endereco {
    position: absolute;
    left: 20.9mm;
    top: 18.85mm;
    background-color: none;
    font-size: 3mm;
    height: 25px;
    width: 113.6mm;
}

#inscrimob {
    position: absolute;
    left: 49mm;
    top: 12.85mm;
    background-color: none;
    font-size: 3mm;
}

.obs {
    position: absolute;
    background-color: none;
    font-size: 4mm;
    font-weight: bold;
}

#pautavias {
    left: 39mm;
    top: 142.15mm;
    font-size: 12px;
    font-weight: normal;
    height: 15px;
    width: 661px;
}

#reaeroporto {
    left: 98.7mm;
    top: 281.35mm;
}

#redeptransito {
    left: 40.2mm;
    top: 296.45mm;
}

#reambiental {
    left: 40.1mm;
    top: 281.05mm;
}

#rerodovias {
    left: 98.7mm;
    top: 286.35mm;
}

table {
    border-collapse: collapse;
    width: 175.6mm;
}

tr {
    display: block;
    float: left;
}

th, td {
    display: block;
}

@media print {
    @page {
        size: 210mm 297mm;
        margin: 0mm;
    }
}
