:root {
    --base: #00bcd4;
    --escuro: #333;
    --claro: #e9e9e9;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.conteiner1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}

.mapa {
    background-color: gray;
    flex: 11;
}

.tabela {
    background-color: yellowgreen;
    flex: 3;
}

.conteiner0 {
    display: flex;
    flex: 1;
}

.logo {
    background: var(--base);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

#brastitulo {
    color: var(--claro);
    text-shadow: 1px 1px 2px black;
}

.pesquisa {
    background: var(--claro);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.botaopadrao {
    background: var(--base);
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    height: 30px;
    color: var(--claro);
    text-shadow: 1px 1px 2px black;
}

.barraLateral {
    height: 100%;
    width: 250px;
    background-color: var(--claro);
    position: relative;
    z-index: 402;
    display: flex;
    top: 0;
    left: 0;
    border: none;
}

.barraLateralConteudo {
    text-align: center;
    margin-left: 5px;
}

.barraLateralEsconder {
    display: flex;
    font-weight: bold;
    font-size: large;
    background-color: var(--claro);
    position: absolute;
    z-index: 402;
    border: none;
}

#abrirConsultaPreviaP {
    /*text-decoration: underline;*/
    color: #301a85;
    text-shadow: 1px 1px 2px white;
    text-decoration: underline;
}

#abrirConsultaPrevia {
    /*text-decoration: underline;*/
    font-size: large;
    color: #301a85;
    text-shadow: 1px 1px 2px white;
    text-decoration: underline;
}

@media (max-width: 550px) {
    .logo {
        display: none;
    }
}

/* lista autocompletar */

.ui-autocomplete {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

ul.ui-autocomplete {
    z-index: 402;
}

.ui-accordion {
    padding-top: 20px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-button:active, .ui-state-active.ui-button:hover, .ui-state-active, .ui-state-hover, .ui-state-visited, .ui-state-focus {
    border: none;
}

.tabulator {
    font-size: 12px;
    background: var(--claro);
}

.tabulator .tabulator-header .tabulator-col {
    background: var(--base);
    color: var(--claro);
    text-shadow: 1px 1px 2px black;
}

.tabulator .tabulator-header {
    border-bottom: 0px;
}

.tabulator .tabulator-header, .tabulator .tabulator-header .tabulator-col {
    background-color: var(--base);
}

.leaflet-container {
    background: #E6E6E6;
}

.leaflet-default-icon-path {
    background-image: url(../images/marker-icon.png);
}

.leaflet-control-layers-toggle {
    background-image: url(../images/layers.png);
}

.leaflet-retina .leaflet-control-layers-toggle {
    background-image: url(../images/layers-2x.png);
}